* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: powderblue;
    color: beige;
  }
  
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
  }
  
  .logo {
    color: beige;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    background-color: navy;
  }
  
  nav a {
    text-decoration: none;
    color: beige;
    padding: 0 1.5rem;
    background-color: navy;
  }
  
  nav a:hover {
    color: beige;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    background-color: beige;
    color: navy
  }

  p {
    text-align: left;
    text-indent: 1rem;
    font-size: 1.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    color: navy
  }

  .img-container {
    text-align: center;
    display: block;
    padding-bottom: 10rem;
  }